# ==================================================
# PYTHON
# ==================================================

__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# ==================================================
# VIRTUAL ENVIRONMENT
# ==================================================

.venv/
venv/
env/

# ==================================================
# JUPYTER
# ==================================================

.ipynb_checkpoints/

# ==================================================
# VS CODE
# ==================================================

.vscode/

# ==================================================
# PYCHARM
# ==================================================

.idea/

# ==================================================
# DATASET
# ==================================================

dataset/videos/

# Extracted frames are huge
dataset/processed/frames/

# NumPy datasets
dataset/processed/numpy/

# ==================================================
# TRAINED MODELS
# ==================================================

models/*.h5
models/*.keras

# ==================================================
# LOG FILES
# ==================================================

*.log

# ==================================================
# SYSTEM FILES
# ==================================================

Thumbs.db
.DS_Store

# ==================================================
# STREAMLIT
# ==================================================

.streamlit/secrets.toml

# ==================================================
# TEMP FILES
# ==================================================

temp/
tmp/